{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block title %}
    Contact | Dashboardom
{% endblock title %}

{% block page_content %}
    <div style="margin-left: 10%" class="col-lg-4">
    <br>
    <h2>Thank You!</h2>
    <br>
    I'll get back to you as soon as I can.
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    </div>
{% endblock page_content %}

