{% extends 'base.html' %}
<html lang="en">
    {% block title %} {{ title }} Dashboard
    {% endblock title %}
{% block page_content %}
    {{ super() }}
<div style="margin-left: 10%">
  <h1>{{ h1 }}</h1>
  <h2>{{ h2 }}</h2>
</div>
<div style="margin-left: 3.5%">
  <iframe width="100%" height="{{ height }}" frameborder="0"
          src="https:{{ dashboard }}.herokuapp.com"></iframe>
</div>
<p>

<div style="margin-left: 5%">
    <ul>
        <li>Data source: <a href="{{ data_link }}">{{ data }}</a></li>
        <li>Tags: {% for tag in tags.split(', ') %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>,
              {% endfor %}</li>
        <li>Code: <a href="{{ git_repo }}" title="{{ h1 }}">Questions, bugs, suggestions more than welcome! </a> </li>
    </ul>
</div>
{% endblock page_content %}
</html>
