{% extends 'base.html' %}
    {% block title %}
        Interactive data and online marketing dashboards and apps | Dashboardom
    {% endblock title %}
{% block page_content %}
<div style="background-color: #e7e7e7">
<div style="margin-left: 8%">
    <br>
    <br>
<h1>Dashboardom!</h1>
        <p>
    <strong>dashboard: </strong>noun /ˈdæʃ.bɔːrd/ an interface with a
            current summary and controls, in graphic form.
    <br>
    <strong>-dom:  </strong> wisdom, freedom, random... hopefully not boredom!
</div>
    <div class="container">
        <div class="col col-lg-7">
            {% for row in dashboard_df.to_dict('rows') %}
                <a href="{{ row['dashboard'] }}" title="{{ row['tags'] }}"><h3><li>{{ row['title']}}</li></h3></a>
                {{ row['h2'] }}
                <br>
                Data: <a href="{{ row['data_link'] }}">{{ row['data'] }}</a>
                <br>
                Tags: {% for tag in row['tags'].split(', ') %}
                        <a href="/tag/{{ tag }}">{{ tag }}</a>,
                      {% endfor %}
                <br>
                Git repo: <a href="{{ row['git_repo'] }}">{{ row['git_repo'] }}</a>
                <hr>
            {% endfor %}
        </div>
        <div class="col col-lg-5">
            {% include 'tag_links.html' %}
        </div>
    </div>
</div>
{% endblock page_content %}