{% extends 'bootstrap/base.html' %}
{% include 'navigation.html' %}
{% block content %}
<div style="background-color: #eeeeee">
<div style="margin-left: 8%">
    <br>
    <br>
<h1>Dashboardom!</h1>
        <p>
    <strong>dashboard: </strong>noun /ˈdæʃ.bɔːrd/ an interface with a
            current summary and controls, in graphic form.
    <br>
    <strong>-dom:  </strong> wisdom, freedom, random... hopefully not boredom!
</div>
<div style="margin-left: 10%">
    {% for row in dashboard_df.to_dict('rows') %}
        <a href="{{ row['dashboard'] }}"><h3><li>{{ row['title']}}</li></h3></a>
        {{ row['h2'] }}
        <br>
        Data: <a href="{{ row['data_link'] }}">{{ row['data'] }}</a>
        <br>
        Tags: {{ row['tags'] }}
        <br>
        Git repo: <a href="{{ row['git_repo'] }}">{{ row['git_repo'] }}</a>
        <hr>
    {% endfor %}
</div>
   {% include 'footer.html' %}
</div>
    <script src="//platform-api.sharethis.com/js/sharethis.js#property=5ae10d5b688e0f0017268884&product=inline-follow-buttons"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1414950-14"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-1414950-14');
    </script>
{% endblock content %}
