<nav class="navbar navbar-inverse" role="navigation"
       style="margin-bottom: 0px">
        <div class="container-fluid">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Dashboardom</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav"></ul>
                        <ul class="nav navbar-nav navbar-right" style="display: flex">
                        <li>
                            <p class="navbar-text" style="margin-top: 10px; margin-bottom: 0px;">
                                <a class="navbar-link" href="/contact">Contact</a>
                                <a style="color: #222222" href="/contact">■■</a>
                                <a href="https://linkedin.com/in/eliasdabbas"><img src="/static/linkedin.png" width="25"></a>
                                <a href="https://twitter.com/eliasdabbas"><img src="/static/twitter.png" width="35"></a>
                                <a href="https://github.com/eliasdabbas"><img src="/static/github.png" width="25"></a>
                                <a href="https://www.kaggle.com/eliasdabbas"><img src="/static/kaggle.png" width="25"></a>

                            </p>
                        </li>
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button" aria-haspopup="true"
                               aria-expanded="false">
                                More Dashboards<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="margin-bottom: 0px">
                                {% for row in dashboard_df.to_dict('rows') %}
                                    <li><a href="/{{ row['dashboard'] }}" title="{{ row['h2'] }}">{{ row['title'] }}</a></li>
                                {% endfor %}
                            </ul>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
</nav>