{% extends 'base.html' %}
    {% block title %}
        {{ tag.replace('-', ' ').title() }} Apps and Dashboards | Dashboardom
    {% endblock title %}

{% block page_content %}
<div style="margin-left: 8%">
    <br>
    <br>
    <h1>{{ tag.replace('-', ' ').title() }} dashboards, apps, and tools</h1>
    <p>
</div>

<div style="margin-left: 10%">
    {% for row in dashboard_df.to_dict('rows') %}
      {% if tag.lower() in row['tags'].lower() %}
        <a href="/{{ row['dashboard'] }}" title="{{ row['tags'] }}"><h3><li>{{ row['title']}}</li></h3></a>
        {{ row['h2'] }}
        <br>
        Data: <a href="{{ row['data_link'] }}">{{ row['data'] }}</a>
        <br>
        Tags: {% for tag in row['tags'].split(', ') %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>,
              {% endfor %}
        <br>
        Git repo: <a href="{{ row['git_repo'] }}">{{ row['git_repo'] }}</a>
        <hr>
      {% endif %}
    {% endfor %}
</div>
{% endblock page_content %}